html {}
body { padding-top: 70px; /* Whatever the height of your navbar is; the default is 50px */}
body.backgr-img { 
  padding-top: 80px; 
  background-image: url(../img/bg_sign_in.jpg);
  background-size:100% auto; }


/* TEXT */
h1, h2, h3, h4, h5, h6 { }
h3 { font-color: white; }
p { }
hr { }


.center-x { text-align:center; margin: 0 auto; }
.center-y { vertical-align:middle; margin: 0 auto; }
.align-bottom { vertical-align: bottom; margin: 0 auto;}

.alignleft {float: left;}
.alignright {float: right;}

.inline-block { display: inline-block; }


#sing-in-form { max-width: 30%; text-align:center; }

#logo-sign-in { margin-top: 20px; }

.jumbotron { background-color: rgba(0, 0, 0, 0.3); }

/*-- NAVBAR --*/
#action-bar { width:100%; height:60px; background:#000; min-width:360px; }
#action-bar #logo { float:left; margin-left:15px; margin-top:15px; }
#action-bar #search, #action-bar #filter { float:right; margin-right:15px; margin-top:15px; }
#action-bar #search #search-input { float:left; width:100px; margin-right:15px; margin-top:-3px; }
#action-bar #search #search-submit { float:left; }
body { padding-top:0px; }
.dropdown-menu { top:60px; right:0; left:auto; }

/*-- DRINK LIST --*/
a.no-btn { color: #333; }
a.no-btn:hover, a.no-btn:active { color: black; }
.drink-list-container .row { margin:0; opacity:0.8; padding-top:15px; padding-bottom:15px; }
.drink-list-container .row:hover { opacity: 1.0; }
/*.drink-list-container a:nth-child(even) .row { background:#999; }*/ /* Stripping for .row even */


/*-- DRINK DETAILS --*/





/*-- SERVICE MENU --*/
.slotName
{
  color: #727272 ;
  font-size: 18px;
  margin-bottom: 5px;
}

.slotPercentage
{
  color: #81c85b ;
  font-size: 13px;
}

.slotMilliliter{
  color: #DE0052;
  font-size: 13px;
}

.slotContent
{
  color: #727272;
  font-size: 15px;
  margin-bottom: 10px;
}

.contentColor
{
	color: #FF9640;
}

.well
{
	margin-top: 20px;
}

#refillContainer
{
	margin-top: 20px;
}

#btnRefill
{
	margin-top: 20px;
}

.fillingLabel
{
  color: #727272;
  font-size: 13px;
}

#inputRefill
{
    margin-top: 10px;
}

#slotSize
{
  max-width: 200px;
  min-width: 200px;
}


#slotContent
{
  max-width: 200px;
  min-width: 200px;
}

.inputDescription
{
  color: #727272 ;
  font-size: 15px;
}

#btnEdit
{
  margin-top: 15px;
}

#inputEdit
{
  min-width: 200px;
}

#input
{
  margin-top: 15px;
}