html 
{
    
}

body 
{
    
}

h1, h2, h3, h4, h5, h6 
{

}

p 
{

}

hr 
{

}

/*--Common styles--*/
.inline-block 
{
    display: inline-block;
}

.center-x 
{
    text-align:center;
    margin: 0 auto;
}

.center-y 
{
    vertical-align:middle;
    margin: 0 auto;
}

/*--Sign in--*/
body
{
  padding-top: 80px;
  background-image: url(../img/bg_sign_in.jpg)
}

h3
{
    font-color: white;
}

#sing-in-form
{
  max-width: 30%;
  text-align:center;
}

.container 
{
  max-width: 930px;
}

#logo-sign-in
{
  margin-top: 20px;

  
}

.form-control
{
 
}

.jumbotron
{
  background-color: rgba(0, 0, 0, 0.7);
}




/*--Drink list--*/



/*--Drink details--*/



/*--Service menu--*/
.slotName
{
  color: #727272 ;
  font-size: 18px;
  margin-bottom: 5px;
}

.slotPercentage
{
  color: #81c85b ;
  font-size: 13px;
}

.slotMilliliter{
  color: #DE0052;
  font-size: 13px;
}

.slotContent
{
  color: #727272;
  font-size: 15px;
  margin-bottom: 10px;
}

.contentColor
{
	color: #FF9640;
}

.well
{
	margin-top: 20px;
}

#refillContainer
{
	margin-top: 20px;
}

#btnRefill
{
	margin-top: 20px;
}

.fillingLabel
{
  color: #727272;
  font-size: 13px;
}

#inputRefill
{
    margin-top: 10px;
}

#slotSize
{
  max-width: 200px;
  min-width: 200px;
}


#slotContent
{
  max-width: 200px;
  min-width: 200px;
}

.inputDescription
{
  color: #727272 ;
  font-size: 15px;
}

#btnEdit
{
  margin-top: 15px;
}

#inputEdit
{
  min-width: 200px;
}

#input
{
  margin-top: 15px;
}